In [51]:
import mysql.connector

mydb =  mysql.connector.connect(
  host="localhost",
  user="hsucheng",
  password="hsucheng",
  database = 'Book_Crossing'
)

mycursor = mydb.cursor()
#mycursor.execute("CREATE DATABASE Book_Crossing")

In [32]:
import pandas as pd

data = pd.read_csv('Preprocessed_data.csv')

In [44]:
data.head()

,Unnamed: 0,user_id,location,age,isbn,rating,book_title,book_author,year_of_publication,publisher,img_s,img_m,img_l,Summary,Language,Category,city,state,country
0,0,2,"stockton, california, usa",18.0000,0195153448,0,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,Provides an introduction to classical myths pl...,en,['Social Science'],stockton,california,usa
1,1,8,"timmins, ontario, canada",34.7439,0002005018,5,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],timmins,ontario,canada
2,2,11400,"ottawa, ontario, canada",49.0000,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],ottawa,ontario,canada
3,3,11676,"n/a, n/a, n/a",34.7439,0002005018,8,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],NaN,NaN,NaN
4,4,41385,"sudbury, ontario, canada",34.7439,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],sudbury,ontario,canada

In [48]:
data[['user_id','isbn','rating']]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1031175 entries, 0 to 1031174
Data columns (total 4 columns):
user_id    1031175 non-null int64
isbn       1031175 non-null object
rating     1031175 non-null int64
city       1017072 non-null object
dtypes: int64(2), object(2)
memory usage: 31.5+ MB

In [55]:
user_id = list(data['user_id'])
isbn = list(data['isbn'])
rating = list(data['rating'])
print(len(user_id))
print(len(isbn))
print(len(rating))

1031175
1031175
1031175

In [56]:
user_id = list(data['user_id'])
isbn = list(data['isbn'])
rating = list(data['rating'])

sql = "INSERT INTO user_book_rating (user_id, isbn, rating, primary_key) VALUES (%s, %s, %s, %s)"

for i in range(len(user_id)):
    val = (int(user_id[i]), str(isbn[i]), int(rating[i]),i)
    mycursor.execute(sql, val)
mydb.commit()

In [59]:
user_id = list(data['user_id'])
location = list(data['location'])
age = list(data['age'])
print(len(user_id))
print(len(location))
print(len(age))
data[['user_id','location','age']].info()

1031175
1031175
1031175
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1031175 entries, 0 to 1031174
Data columns (total 3 columns):
user_id     1031175 non-null int64
location    1031175 non-null object
age         1031175 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 23.6+ MB

In [61]:
user_id = list(data['user_id'])
location = list(data['location'])
age = list(data['age'])

sql = "INSERT INTO user_feature (user_id, location, age, primary_key) VALUES (%s, %s, %s, %s)"

for i in range(len(user_id)):
    val = (int(user_id[i]), str(location[i]), int(age[i]),i)
    mycursor.execute(sql, val)
mydb.commit()

In [66]:
isbn = list(data['isbn'])
book_title = list(data['book_title'])
book_author = list(data['book_author'])
year_of_publication = list(data['year_of_publication'])
publisher = list(data['publisher'])
Language = list(data['Language'])
Category = list(data['Category'])
country = list(data['country'])
data[['isbn','book_title','book_author','year_of_publication','publisher','Language','Category','country']].info()
if pd.isnull(country[3]) is True:
    print(111)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1031175 entries, 0 to 1031174
Data columns (total 8 columns):
isbn                   1031175 non-null object
book_title             1031175 non-null object
book_author            1031175 non-null object
year_of_publication    1031175 non-null float64
publisher              1031175 non-null object
Language               1031175 non-null object
Category               1031175 non-null object
country                995801 non-null object
dtypes: float64(1), object(7)
memory usage: 62.9+ MB
111

In [91]:
isbn = list(data['isbn'])
book_title = list(data['book_title'])
book_author = list(data['book_author'])
year_of_publication = list(data['year_of_publication'])
publisher = list(data['publisher'])
Language = list(data['Language'])
Category = list(data['Category'])
country = list(data['country'])


sql = "INSERT INTO book_feature (isbn,book_author,year_of_publication,publisher,Language, primary_key) VALUES (%s, %s, %s,%s, %s,%s)"

for i in range(len(isbn)):
    if pd.isnull(country[i]) is True:
        token = 'None'
    else:
        token = str(country[i])
    val = (str(isbn[i]),str(book_author[i]),int(year_of_publication[i]),str(publisher[i]),str(Language[i]),i)
    mycursor.execute(sql, val)
mydb.commit()

In [ ]:
mycursor.execute("CREATE TABLE book_feature (
                 isbn VARCHAR(255), book_title 
                 VARCHAR(255) , book_author VARCHAR(255),
                 year_of_publication int, publisher VARCHAR(255),
                 Language VARCHAR(10),Category VARCHAR(50),country VARCHAR(20),
                 primary_key int PRIMARY KEY)")

In [21]:
class Data_Process_for_GOTODB:
    def __init__(self, path=None):
        self.path = path
        self.open_data_init()

    def open_data_init(self):
        with open(self.path, 'r',encoding='latin1') as f:
            self.data = f.readlines()

    def show_columns(self):
        column_name = self.data[0].split(';')
        column_name = [column_name[i].replace('"','').replace('\n','') for i in range(len(column_name))]
        return column_name

    def show_data(self):
        data = self.data[1:]
        output_data = list()
        for element in data:
            output_data_unit = list()
            element = element.split(';')
            for unit_element in element:
                output_data_unit.append(unit_element.replace('"','').replace('\n',''))
            output_data.append(output_data_unit)
        return output_data

rating_obj = Data_Process_for_GOTODB(path='BX-Book-Ratings.csv')   
print(rating_obj.show_columns())
data = rating_obj.show_data()
for unit_data in data:
    int(unit_data[0])
    int(unit_data[2])
    


#with open('BX-Book-Ratings.csv', 'r',encoding='latin1') as f:
#    data = f.readlines()
#column_name = data[0].split(';')
#column_name = [column_name[i].replace('"','').replace('\n','') for i in range(len(column_name))]
#column_name
#rating_csv = pd.read_csv('BX-Book-Ratings.csv')
#user_csv = pd.read_csv('BX-Users.csv')
#book_csv = pd.read_csv('BX_Books.csv')

['User-ID', 'ISBN', 'Book-Rating']

In [18]:
book_obj = Data_Process_for_GOTODB(path='BX_Books.csv')   
print(book_obj.show_columns())
#book_obj.show_data()[:10]

['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher', 'Image-URL-S', 'Image-URL-M', 'Image-URL-L']

In [53]:
mycursor.execute("CREATE TABLE user_book_rating (user_id int, isbn VARCHAR(255) , rating int, primary_key int PRIMARY KEY)")
mycursor.execute("CREATE TABLE user_feature (user_id int, location VARCHAR(255) , age float, primary_key int PRIMARY KEY)")
mycursor.execute("CREATE TABLE book_feature (isbn VARCHAR(255), book_title VARCHAR(255) , book_author VARCHAR(255), year_of_publication int, publisher VARCHAR(255),Language VARCHAR(10),Category VARCHAR(50),country VARCHAR(20), primary_key int PRIMARY KEY)")

In [89]:
mycursor.execute("CREATE TABLE book_feature (isbn VARCHAR(255) , book_author VARCHAR(255), year_of_publication int, publisher VARCHAR(255),Language VARCHAR(10), primary_key int PRIMARY KEY)")

In [88]:
mycursor.execute('DROP TABLE book_feature')